
##   Java / Maven / Spring Boot


# Maven
target/
*.class
*.jar
*.war
*.ear

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log


##       IntelliJ IDEA


.idea/
*.iml
*.ipr
*.iws
out/


##       Visual Studio Code


.vscode/


##       OS / Temp files


.DS_Store
Thumbs.db


##       Others


HELP.md
